
body{
    margin: 0px;
    width: 100%;
    height: 100%;

}


#h{
    position: relative;
    width: 100%;
    height: 50vh

}
#i20{
    position: relative;
  
    background-size:cover;
    background-repeat:no-repeat;

}

#i19{
    position: absolute;
    width:40vw;
    top:10vh;
    left:30vw;
}

#t{
    position: absolute;
    width: 100%;
    height: 100%;

}
#i03{
    position: absolute;
    top:10%;
    max-height:40%;
    max-width: 25%;
    -webkit-transform: translate(-50%, 0);
    left:20%;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;

}
#i02{
    position: absolute;
    top:10%;
    max-width: 25%;
    max-height:40%;
    -webkit-transform: translate(-50%, 0);
    left:50%;
    -moz-box-shadow: 5px 5px 5px #888;
-webkit-box-shadow: 5px 5px 5px #888;
box-shadow: 5px 5px 5px #888;

}
#i06{
    position: absolute;
    top:10%;
    max-height:40%;
    max-width: 25%;
    -webkit-transform: translate(-50%, 0);
    left:80%;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;

}
#i05{
    position: absolute;
    top:58%;
    max-width: 25%;
    max-height:40%;
    -webkit-transform: translate(-50%, 0);
    left:20%;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
}
#i04{
    position: absolute;
    top:58%;
    max-height:40%;
    max-width: 25%;
    -webkit-transform: translate(-50%, 0);
    left:50%;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
}
#i01{
    position: absolute;
    top:58%;
    max-width: 25%;
    max-height:40%;
    left: 80%;
     -webkit-transform: translate(-50%, 0);
     -moz-box-shadow: 5px 5px 5px #888;
     -webkit-box-shadow: 5px 5px 5px #888;
     box-shadow: 5px 5px 5px #888;
}
#i10{
    position: absolute;
    top:10%;
    max-height:40%;
    left: 20%; 
    max-width: 25%;
    -webkit-transform: translate(-50%, 0);
    opacity: 0;
    z-index: 1;
}
#i11{
    position: absolute;
    top:10%;
    max-height:40%;
    max-width: 25%;
    left: 50%;
     -webkit-transform: translate(-50%, 0);
    opacity: 0;
    z-index: 1;
}
#i07{
    position: absolute;
    top:10%;
    max-height:40%;
    max-width: 25%;
    left: 80%; 
    -webkit-transform: translate(-50%, 0);
    z-index: 1;
    opacity: 0;
}
#i08{
    position: absolute;
    top:58%;
    max-height:40%;
    max-width: 25%;
    left: 20%; 
    -webkit-transform: translate(-50%, 0);
    z-index: 1;
    opacity: 0;
}
#i09{
    position: absolute;
    top:58%;
    max-height:40%;
    max-width: 25%;
    left: 50%; 
    -webkit-transform: translate(-50%, 0);
    z-index: 1;
    opacity: 0;
}
#i12{
    position: absolute;
    top:58%;
    max-height:40%;
    max-width: 25%;
    left: 80%;
     -webkit-transform: translate(-50%, 0);
    z-index: 1;
    opacity: 0;
}
#i13{
    position: absolute;
    width:40%;
    max-height:770px;
    max-width: 523px;
    left: 50%; 
    -webkit-transform: translate(-50%, 0);
    top:5%;
    z-index: 2;
    display: none;
}
#i14{
    position: absolute;
    width:40%;
    max-height:770px;
    max-width: 523px;
    left: 50%; 
    -webkit-transform: translate(-50%, 0);
    top:5%;
    z-index: 2;
    display: none;
}
#i15{
    position: absolute;
    width:40%;
    max-height:770px;
    max-width: 523px;
    left: 50%; 
    -webkit-transform: translate(-50%, 0);
    top:5%;
    z-index: 2;
    display: none;
}
#i16{
    position: absolute;
    width:40%;
    max-height:770px;
    max-width: 523px;
    left: 50%; 
    -webkit-transform: translate(-50%, 0);
    top:5%;
    z-index: 2;
    display: none;
}
#i17{
    position: absolute;
    width:40%;
    max-height:770px;
    max-width: 523px;
    left: 50%; 
    -webkit-transform: translate(-50%, 0);
    top:5%;
    z-index: 2;
    display: none;
}
#i18{
    position: absolute;
    width:40%;
    max-height:770px;
    max-width: 523px;
    left: 50%; 
    -webkit-transform: translate(-50%, 0);
    top:5%;
    z-index: 2;
    display: none;
}
